# Nox mod packages are tracked in the root project as submodules
.utmp/
.idea/
.vs/
.vscode/
*.csproj
*.sln
*.slnx
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
bin/
obj/
[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Oo]bj/
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app
PackageExports/
_*
mono_crash.*
.env
.env*
